.colored_blue {
	color: #1072c6;
}

.colored_red {
	color: #f1f1f1;
}

.colored_gray {
	color: #cccccc;
}

.colored_dark_gray {
    color: #888888;
}


@media screen and (min-width: 320px) {
  p, th, td, li {
    font-size: calc(16px + (23 - 16) * ((100vw - 320px) / (1000-320)));
    font-family: 'Source Sans Pro', sans-serif;
    text-align: justify;
  }
}

@media screen and (min-width: 1000px) {
  p, th, td, li {
    font-size: 23px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: justify;
  }
}

label {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: justify;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

@media screen and (min-width: 320px) {
    h1 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: calc(29px + (40 - 29) * ((100vw - 320px) / (1000-320)));
        padding-bottom: calc(5px + (25 - 5) * ((100vw - 320px) / (1000-320)));
    }
}

@media screen and (min-width: 1000px) {
    h1 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 40px;
        padding-bottom: 25px;
    }
}

@media screen and (min-width: 320px) {
    h2 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: calc(23px + (32 - 23) * ((100vw - 320px) / (1000-320)));
        padding-bottom: calc(2px + (17 - 2) * ((100vw - 320px) / (1000-320)));
    }
}

@media screen and (min-width: 1000px) {
    h2 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 32px;
        padding-bottom: 17px;
    }
}

@media screen and (min-width: 320px) {
    h3 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: calc(19px + (26 - 19) * ((100vw - 320px) / (1000-320)));
        padding-bottom: calc(2px + (10 - 2) * ((100vw - 320px) / (1000-320)));
    }
}

@media screen and (min-width: 1000px) {
    h3 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 26px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 320px) {
    h6 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: calc(8px + (16 - 8) * ((100vw - 320px) / (1000-320)));
        padding-bottom: calc(2px + (10 - 2) * ((100vw - 320px) / (1000-320)));
    }
}

@media screen and (min-width: 1000px) {
    h6 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
    }
}

ul {
    padding: 0;
    list-style-type: none;
}

input[type=text] {
    width: 400px;
    padding: 5px 5px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    border-radius: 4px;
    outline: none;
}

textarea {
    width: 400px;
    height: 150px;
    padding: 5px 5px;
    outline: none;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

select {
    width: 400px;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.picture_radius{
    border-radius: 15px 30px;
}

.pic_shadow{
    box-shadow: 0px 0px 26px -7px rgba(0,0,0,0.75)
}
