body
{
	margin: auto;
}

* {
	margin: 0;
	/*padding: 0;*/
}


.flexi
{
	display:flex;
	justify-content:space-around;

}

@media screen and (max-device-width : 500px) {
     .mobileHide {
        display: none;
     }
}


/*------------footer ------------------*/
footer { 
    background-color: #f2f2f2; 
    padding: 30px 0px 30px 0px;
}

footer p { 
    color: black;
    margin: auto;
    width: 50%;
    max-width: 1000px;

}