tbody>tr:hover {
	background-color: #fafafa
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: center;
}

thead{
    background-color: #ae1228;
    padding: 30px 0px 30px 0px;
    line-height: 3em;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

